In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/AcademicPerformance-1.csv")

In [ ]:
df.describe()

           Rollno       Marks      Gender        Age
count  100.000000  100.000000  100.000000  84.000000
mean    50.500000   52.524500    0.500000  47.821429
std     29.011492   42.220933    0.502519  15.037432
min      1.000000    0.250000    0.000000  20.000000
25%     25.750000   20.000000    0.000000  32.750000
50%     50.500000   39.300000    0.500000  50.000000
75%     75.250000   75.500000    1.000000  60.250000
max    100.000000  190.000000    1.000000  77.000000

In [ ]:
q3=df.Marks.quantile(0.75)
q1=df["Marks"].quantile(0.25)
q3,q1

(75.5, 20.0)

In [ ]:
IQR=q3-q1
IQR

55.5

In [ ]:
#DETECTION
lower_limit=q1-1.5*IQR
upper_limit=q3+1.5*IQR
lower_limit,upper_limit

(-63.25, 158.75)

In [ ]:
outlier=[]
for x in df:
  if((df.Marks<lower_limit)|(df.Marks>upper_limit)):
    outlier.append(x)

ValueError: ignored

In [ ]:
df[(df.Marks<lower_limit)|(df.Marks>upper_limit)]

    Rollno  Marks  Gender   Age  PhD
18      19  190.0       1  66.0  Yes
56      57  160.0       1  61.0  Yes

In [ ]:
df.dtypes

Rollno      int64
Marks     float64
Gender      int64
Age       float64
PhD        object
dtype: object

In [ ]:
outlier=df[(df.Marks<lower_limit)|(df["Marks"]>upper_limit)]
outlier

    Rollno  Marks  Gender   Age  PhD
18      19  190.0       1  66.0  Yes
56      57  160.0       1  61.0  Yes

In [ ]:
outlier.drop

<bound method DataFrame.drop of     Rollno  Marks  Gender   Age  PhD
18      19  190.0       1  66.0  Yes
56      57  160.0       1  61.0  Yes>

In [ ]:
new=df[(df.Marks>lower_limit)&(df["Marks"]<upper_limit)]

In [ ]:
new

    Rollno  Marks  Gender   Age  PhD
0        1  140.0       1  47.0  Yes
1        2   30.0       0  65.0  Yes
2        3   35.1       0  56.0   12
3        4   30.0       1  23.0   No
4        5   80.0       0   NaN  Yes
..     ...    ...     ...   ...  ...
95      96   18.6       1  26.0   No
96      97  152.0       1  56.0  Yes
97      98    1.8       1  28.0   No
98      99   35.0       0  44.0  NaN
99     100    4.0       0  24.0   No

[98 rows x 5 columns]

In [ ]:
df["Marks"]

0     140.0
1      30.0
2      35.1
3      30.0
4      80.0
      ...
95     18.6
96    152.0
97      1.8
98     35.0
99      4.0
Name: Marks, Length: 100, dtype: float64

In [ ]:
new.loc[10:20,"Marks"]

10      3.0
11     46.0
12    150.0
13      3.0
14    130.0
15     15.0
16    130.0
17     84.0
19     74.0
20     73.0
Name: Marks, dtype: float64